<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="race-card">
      <h3>Moon - Elf</h3>
      <p>Age: 120, Height: 6'7", Weight: 160</p>
      <p>Power: Moon Bolt - 10 DMG 5 AP - Magic Type 20 RNG</p>
      <p>Bonus Attributes: +5 AP, +10 MP, +2 Night DMG, +5 Dark Vision</p>
      <p>Specials:</p>

    </div>
  </body>
</html>
